<div *ngIf="movies">
    <h3 class="orange-text">
        {{title}}</h3>
    <h3 class="orange-text" i18n='@@movies.length'>
        {movies.length, plural, =0 {no movie} =1 {1 movie} other { {{movies.length}} movies}}</h3>
    <div class="row is-flex">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of movies; let i = index;">
            <ngxmovie-movie-card [movie]="movie"></ngxmovie-movie-card>
        </div>
    </div>
</div>