<div class="jumbotron">
    <form>
        <div class="form-group" novalidate>
            <div class="input-group">
                <input type="text" class="form-control" i18n-placeholder="@@search.placeholder" [formControl]="input" placeholder="Search for movies..." [(ngModel)]="searchStr" name="searchStr" (keyup.enter)="searchMovies()">

                <span class="input-group-btn">

          <button class="btn btn-primary" type="button" (click)="searchMovies()" i18n="@@search.button">Go!</button>
        </span>
            </div>
        </div>
    </form>
</div>