<link class='link-theme' rel="stylesheet" [href]="selectedTheme" rel="stylesheet " />
<div class="btn-group " dropdown>
    <button dropdownToggle type="button " class="btn btn-primary dropdown-toggle ">
    Theme <span class="caret "></span>
  </button>
    <ul *dropdownMenu class="dropdown-menu " role="menu ">
        <li *ngFor="let theme of themes " role="menuitem ">
            <a class="theme-link dropdown-item " (click)='LoadTheme(theme)'>{{theme.name}}</a>
        </li>
    </ul>
</div>