<h1>
    {{title}}
</h1>
<ngkitchen-typescript></ngkitchen-typescript>
<markdown>
    <markdown [path]="'/files/demo.ts'"> </markdown>
    <div Markdown [path]="'/files/demo.html'"> </div>

</markdown>
<router-outlet></router-outlet>