<div class="row" *ngIf="movie">
    <div class="col-md-4">
        <img alt="poster" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="thumbnail">
        <p>
            <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-info btn-block" target="_blank" i18n="@@movie.visitMoviesWebsite">Visit Movies Website</a>
        </p>
    </div>
    <div class="col-md-8">
        <h2>{{movie.title}}
            <small class="label label-warning">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
        </h2>
        <p>{{movie.tagline}}</p>
        <p>
            <a routerLink="/genres/{{genre.id}}/{{genre.name}}" *ngFor="let genre of movie.genres" class="label label-info m-r-md">
        {{genre.name}}
      </a>
        </p>
        <h3>Overview</h3>
        <p>
            {{movie.overview}}
        </p>
        <!--Casts-->
        <div class="row is-flex" *ngIf="cast && cast.length > 0">
            <div class="col-md-12">
                <h3 class="text-center" i18n="@@movie.cast">Cast</h3>
            </div>
            <div class="col-md-3" *ngFor="let actor of cast">
                <div class="thumbnail">
                    <a routerLink="/actor/{{actor.id}}"><img alt="person" src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt=""></a>
                    <div class="caption">
                        <h6 class="text-center"><a routerLink="/actor/{{actor.id}}">{{actor.name}}</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <!--Casts-->
    </div>
</div>
<!--Trailer-->
<div class="row" *ngIf="video">
    <div class="col-md-8 col-md-offset-2">
        <h2>{{video.name}}</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="video.url"></iframe>
        </div>
    </div>
</div>
<!--Trailer-->
<!--Similar Movies-->
<div class="row is-flex" *ngIf="similarMovies && similarMovies.length > 0">
    <div class="col-md-12">
        <h2 i18n="@@movie.similarMovies">Similar Movies</h2>
    </div>
    <div class="col-md-2" *ngFor="let movie of similarMovies">
        <ngxmovie-movie-card [movie]="movie"></ngxmovie-movie-card>
    </div>
</div>
<!--Similar Movies-->
<div class="row" *ngIf="reviews && reviews.length > 0">
    <div class="col-md-12">
        <h2 i18n="@@movie.reviews">Reviews</h2>
    </div>
    <div class="col-md-6" *ngFor="let review of reviews">
        <blockquote>
            <p class="text-justify">{{review.content}}</p>
            <footer><cite title="{{review.author}}"><a href="{{review.url}}" target="_blank">{{review.author}}</a></cite></footer>
        </blockquote>
    </div>
</div>